body {
    background-color: #f2f2f2;
}

h2 {
    background-color: lightblue;
}

p {
    color: red;
    text-align: center;
}

ol {
    color: green;
    background-color: antiquewhite;
}

.important-item {
    color: red;
    font-family: monospace;
}